# Ignore node_modules folder
node_modules/

# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore SQLite database files
*.db
*.sqlite

# Ignore secrets
appsettings.json
appsettings.Development.json

# Ignore Redis data dump
dump.rdb
