# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/
obj/
bin/
Properties/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
.vs/

# Ignore compiled files
*.out
*.class
*.pyc
*.o

# Ignore coverage reports
coverage/
*.lcov

# Ignore dependency directories
vendor/

appsettings.Development.json
appsettings.json
ActionMoviesCatalog.http

